<header>         
  
   <!-- Main -->
   <div class="view intro hm-purple-light" style="">
       <div class="full-bg-img flex-center">
           <div class="container text-center white-text wow fadeInUp">
             <form class="form-inline jumbotron" style="position:fixed;margin-top: -215px;margin-left: 110px;margin-right: 110px;">
                 
                     <div class="md-form form-group">
                         <i class="fa fa-map-marker"></i>
                         <input type="email" id="form91" class="form-control validate" mdbActive>
                         <label for="form91" style="padding-left:20px" data-error="wrong" data-success="right">Enter City</label>
                     </div>
                 
                     <div class="md-form form-group">
                         <i class="fa fa-map-marker"></i>
                         <input type="password" id="form92" class="form-control validate" mdbActive>
                         <label for="form92" style="padding-left:20px" data-error="wrong" data-success="right">Enter Area</label>
                     </div>
                 
                     <div class="md-form form-group">
                         <button type="button" class="btn btn-primary">Search</button>
                     </div>
                 
                 </form>
           </div>
       </div>
   </div>
   <!-- /.Main -->
 
                                 
                      
 
 </header>     
 